node_modules
build
.vscode/*.log
.lsp
.clj-kondo

*/.clj-kondo
*/target
*/classes
*/checkouts
*/profiles.clj
*/pom.xml
*/pom.xml.asc
*/*.jar
*/*.class
*/.lein-*
*/.nrepl-port
*/.prepl-port
*/.lsp
*/input
*/sample-input
**/output.calva-repl
